# Binaries
cursor-account-admin
cursor-account-admin.exe*
cursor-admin
cursor-admin.exe*

# Data files
accounts.json

# OS files
.DS_Store
Thumbs.db

# IDE
.idea/
.vscode/
*.swp
*.swo

# Go build cache
/vendor/

# log files
*.log

dist/
cursor-account-admin.exe
